target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


$ Plugs to add/
$$Old/
apache-maven-3.6.0/
Build/
BuildData/
Bukkit/
CraftBukkit/
Spigot/
BuildData/
Bukkit/
CraftBukkit/
logs/
Spigot/
work/
world/
world_nether/
world_the_end/

server.properties
bukkit.yml

spigot.yml
logs/latest.log

ops.json

eula.txt
bukkit.yml
banned-ips.json
banned-players.json
spigot.yml
usercache.json
whitelist.json

plugins/Authme/
plugins/Autorank/backups/
plugins/Autorank/data/
plugins/Autorank/lang
plugins/Autorank/logging/

plugins/Autorank/playerdata/
plugins/Autorank/uuids/
plugins/Autorank/internalprops.yml
plugins/bStats/
plugins/BetterSleeping3/lang/
plugins/categories/
plugins/ChestSort/playerdata/
plugins/DiscordSRV/
plugins/DiscordSRV/config.yml
plugins/dynmap/web/
plugins/dynmap/renderdata/
plugins/dynmap/export/
plugins/dynmap/markers/
plugins/dynmap/ids-by-ip.txt
plugins/EasyBackup/
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/EssentialsGeoIP/
plugins/Genie/
plugins/HolographicDisplays/animations/
plugins/HolographicDisplays/database.yml
plugins/HolographicDisplays/symbols.yml
plugins/Invunload/playerdata/
plugins/Jobs/locale/
plugins/Jobs/TranslatableWords/
plugins/LuckPerms/libs/
plugins/LuckPerms/translations/
plugins/LWC/backups/
plugins/LWC/locale/
plugins/LWCTrust/trusts/
plugins/MCCore/
plugins/mcMMO/backup/

plugins/mcMMO/flatfile/
plugins/mcMMO/locales/
plugins/Minepacks/backups/
plugins/Minepacks/lang/
plugins/MineTinker/lang/
plugins/MoneyHunters/lang/
plugins/MoneyHunters/modules/
plugins/Multiverse-Inventories/groups/
plugins/Multiverse-Inventories/players/
plugins/MyPet/locale/
plugins/MyPet/logs/
plugins/NexEngine/
plugins/Plan/cached_json/
plugins/Plan/dep_chache/
plugins/Plan/logs/
plugins/PluginMetrics/
plugins/ProMCCore/
plugins/ProRPGItems/lang/
plugins/Residence/Backup/
plugins/Residence/Language/
plugins/Residence/Save/
plugins/Residence/uuids.yml
plugins/ServerTutorialPlus/language/
plugins/ServerTutorialPlus/playerdata/
plugins/Statz/
plugins/UltimateCatcher/locales/
plugins/Updater/
plugins/Vault/
plugins/VeinMiner/playerdata/
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/assets/
plugins/WorldEdit/sessions/
plugins/WorldGuard/cache/
plugins/WorldGuard/
plugins/XPBoost/lang/

*.db

*.db-shm

*.db-wal

*.zip


*.gz

*.log
*.jar

*.dat

*.dat_old

*.mca


*.users
*.bin
*.cache
*.js
*.bak
*.jar
*.mmdb
*.keystore
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
plugins/dynmap/world.pending
