target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


$ Plugs to add/
$$Old/
apache-maven-3.6.0/
Build/
BuildData/
Bukkit/
CraftBukkit/
Spigot/
BuildData/
Bukkit/
CraftBukkit/
logs/
Spigot/
work/
world/
world_nether/
world_the_end/

server.properties
bukkit.yml

spigot.yml
logs/latest.log

ops.json

eula.txt
bukkit.yml
banned-ips.json
banned-players.json
spigot.yml
usercache.json
whitelist.json

plugins/Authme/
plugins/Autorank/backups/
plugins/Autorank/data/
plugins/Autorank/lang
plugins/Autorank/logging/

plugins/Autorank/playerdata/
plugins/Autorank/uuids/
plugins/Autorank/internalprops.yml
plugins/bStats/
plugins/BetterSleeping3/lang/
plugins/categories/
plugins/ChestSort/playerdata/
plugins/DiscordSRV/
plugins/DiscordSRV/config.yml
plugins/dynmap/web/
plugins/dynmap/renderdata/
plugins/dynmap/export/
plugins/dynmap/markers/
plugins/dynmap/ids-by-ip.txt
plugins/eBackup/
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/EssentialsGeoIP/
plugins/Genie/
plugins/HolographicDisplays/animations/
plugins/HolographicDisplays/database.yml
plugins/HolographicDisplays/symbols.yml
plugins/Invunload/playerdata/
plugins/Jobs/locale/
plugins/Jobs/TranslatableWords/
plugins/LuckPerms/libs/
plugins/LuckPerms/translations/
plugins/LWC/backups/
plugins/LWC/locale/
plugins/LWCTrust/trusts/
plugins/MCCore/
plugins/mcMMO/backup/

plugins/mcMMO/flatfile/
plugins/mcMMO/locales/
plugins/Minepacks/backups/
plugins/Minepacks/lang/
plugins/MineTinker/lang/
plugins/MoneyHunters/lang/
plugins/MoneyHunters/modules/
plugins/Multiverse-Inventories/groups/
plugins/Multiverse-Inventories/players/
plugins/MyPet/locale/
plugins/MyPet/logs/
plugins/NexEngine/
plugins/Plan/Analysis Results/
plugins/Plan/cached_json/
plugins/Plan/dep_chache/
plugins/Plan/logs/
plugins/PluginMetrics/
plugins/ProMCCore/
plugins/ProRPGItems/lang/
plugins/Residence/Backup/
plugins/Residence/Language/
plugins/Residence/Save/
plugins/Residence/uuids.yml
plugins/ServerTutorialPlus/language/
plugins/ServerTutorialPlus/playerdata/
plugins/Statz/
plugins/UltimateCatcher/locales/
plugins/Updater/
plugins/Vault/
plugins/VeinMiner/playerdata/
plugins/WorldEdit/.archive-unpack/
plugins/WorldEdit/assets/
plugins/WorldEdit/sessions/
plugins/WorldGuard/cache/
plugins/WorldGuard/
plugins/XPBoost/lang/

*.db

*.db-shm

*.db-wal

*.zip


*.gz

*.log
*.jar

*.dat

*.dat_old

*.mca


*.users
*.bin
*.cache
*.js
*.bak
*.jar
*.mmdb
*.keystore
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
plugins/dynmap/world.pending
plugins/ProtocolLib
.INNOUNIQ/.data
.INNOUNIQ
plugins/SkinsRestorer/Skins/swordm1993.skin
plugins/Plan/Analysis Results/
plugins/ProtocolLib/lastupdate/
plugins/$Old Jars&Folders/
plugins/Plan/PlanCert.jks
plugins/ProtocolLib/lastupdate
plugins/LuckPerms/yaml-storage/actions.txt
plugins/Plan/ServerInfoFile.yml
plugins/SkinsRestorer/archive/command.properties_1698962972651
plugins/SkinsRestorer/archive/languages_1698962972652/language.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_af.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ar.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_bg.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_bs.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_cs.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ca.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_de.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_el.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_es.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_da.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_es_AR.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_et.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_fi.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_fr.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_he.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_hi.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_hu.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_id.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_it.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ja.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ko.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_nl.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_no.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_pl.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_pt.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_pt_BR.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ro.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_ru.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_sk.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_sl.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_sr.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_sr_Latn.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_sv.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_tr.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_uk.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_vi.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_zh_hk.properties
plugins/SkinsRestorer/archive/languages_1698962972652/language_zh_tw.properties
plugins/SkinsRestorer/cache/arealadmin.mojangcache
plugins/SkinsRestorer/command.properties
plugins/SkinsRestorer/languages/language_af.properties
plugins/SkinsRestorer/languages/language_ar.properties
plugins/SkinsRestorer/languages/language_bg.properties
plugins/SkinsRestorer/languages/language_bs.properties
plugins/SkinsRestorer/languages/language_ca.properties
plugins/SkinsRestorer/languages/language_cs.properties
plugins/SkinsRestorer/languages/language_da.properties
plugins/SkinsRestorer/languages/language_de.properties
plugins/SkinsRestorer/languages/language_el.properties
plugins/SkinsRestorer/languages/language_es.properties
plugins/SkinsRestorer/languages/language_es_AR.properties
plugins/SkinsRestorer/languages/language_et.properties
plugins/SkinsRestorer/languages/language_fi.properties
plugins/SkinsRestorer/languages/language_fr.properties
plugins/SkinsRestorer/languages/language_he.properties
plugins/SkinsRestorer/languages/language_hi.properties
plugins/SkinsRestorer/languages/language_hu.properties
plugins/SkinsRestorer/languages/language_id.properties
plugins/SkinsRestorer/languages/language_it.properties
plugins/SkinsRestorer/languages/language_ja.properties
plugins/SkinsRestorer/languages/language_ko.properties
plugins/SkinsRestorer/languages/language_nl.properties
plugins/SkinsRestorer/languages/language_no.properties
plugins/SkinsRestorer/languages/language_pl.properties
plugins/SkinsRestorer/languages/language_pt.properties
plugins/SkinsRestorer/languages/language_pt_BR.properties
plugins/SkinsRestorer/languages/language_ro.properties
plugins/SkinsRestorer/languages/language_ru.properties
plugins/SkinsRestorer/languages/language_sk.properties
plugins/SkinsRestorer/languages/language_sl.properties
plugins/SkinsRestorer/languages/language_sr.properties
plugins/SkinsRestorer/languages/language_sr_Latn.properties
plugins/SkinsRestorer/languages/language_sv.properties
plugins/SkinsRestorer/languages/language_tr.properties
plugins/SkinsRestorer/languages/language_uk.properties
plugins/SkinsRestorer/languages/language_vi.properties
plugins/SkinsRestorer/languages/language_zh_hk.properties
plugins/SkinsRestorer/languages/language_zh_tw.properties
plugins/SkinsRestorer/locales/repository/locale.json
plugins/SkinsRestorer/locales/repository/locale_af.json
plugins/SkinsRestorer/locales/repository/locale_ar.json
plugins/SkinsRestorer/locales/repository/locale_bg.json
plugins/SkinsRestorer/locales/repository/locale_bs.json
plugins/SkinsRestorer/locales/repository/locale_ca.json
plugins/SkinsRestorer/locales/repository/locale_cs.json
plugins/SkinsRestorer/locales/repository/locale_da.json
plugins/SkinsRestorer/locales/repository/locale_de.json
plugins/SkinsRestorer/locales/repository/locale_el.json
plugins/SkinsRestorer/locales/repository/locale_es.json
plugins/SkinsRestorer/locales/repository/locale_es_AR.json
plugins/SkinsRestorer/locales/repository/locale_et.json
plugins/SkinsRestorer/locales/repository/locale_fi.json
plugins/SkinsRestorer/locales/repository/locale_fr.json
plugins/SkinsRestorer/locales/repository/locale_he.json
plugins/SkinsRestorer/locales/repository/locale_hi.json
plugins/SkinsRestorer/locales/repository/locale_hu.json
plugins/SkinsRestorer/locales/repository/locale_id.json
plugins/SkinsRestorer/locales/repository/locale_it.json
plugins/SkinsRestorer/locales/repository/locale_ja.json
plugins/SkinsRestorer/locales/repository/locale_ko.json
plugins/SkinsRestorer/locales/repository/locale_lt.json
plugins/SkinsRestorer/locales/repository/locale_lv.json
plugins/SkinsRestorer/locales/repository/locale_nl.json
plugins/SkinsRestorer/locales/repository/locale_no.json
plugins/SkinsRestorer/locales/repository/locale_pl.json
plugins/SkinsRestorer/locales/repository/locale_pt.json
plugins/SkinsRestorer/locales/repository/locale_pt_BR.json
plugins/SkinsRestorer/locales/repository/locale_ro.json
plugins/SkinsRestorer/locales/repository/locale_ru.json
plugins/SkinsRestorer/locales/repository/locale_sk.json
plugins/SkinsRestorer/locales/repository/locale_sl.json
plugins/SkinsRestorer/locales/repository/locale_sr.json
plugins/SkinsRestorer/locales/repository/locale_sr_Latn.json
plugins/SkinsRestorer/locales/repository/locale_sv.json
plugins/SkinsRestorer/locales/repository/locale_tr.json
plugins/SkinsRestorer/locales/repository/locale_tt.json
plugins/SkinsRestorer/locales/repository/locale_uk.json
plugins/SkinsRestorer/locales/repository/locale_vi.json
plugins/SkinsRestorer/locales/repository/locale_zh_hk.json
plugins/SkinsRestorer/locales/repository/locale_zh_tw.json
plugins/LuckPerms/yaml-storage/actions.txt
.INNOUNIQ/.data
plugins/InsaneAnnouncer/Languages/Base_Czech.lang
plugins/InsaneAnnouncer/Languages/Base_Danish.lang
plugins/InsaneAnnouncer/Languages/Base_Dutch.lang
plugins/InsaneAnnouncer/Languages/Base_French.lang
plugins/InsaneAnnouncer/Languages/Base_German.lang
plugins/InsaneAnnouncer/Languages/Base_Hungarian.lang
plugins/InsaneAnnouncer/Languages/Base_Italian.lang
plugins/InsaneAnnouncer/Languages/Base_Korean.lang
plugins/InsaneAnnouncer/Languages/Base_Polish.lang
plugins/InsaneAnnouncer/Languages/Base_Portuguese.lang
plugins/InsaneAnnouncer/Languages/Base_Romanian.lang
plugins/InsaneAnnouncer/Languages/Base_Russian.lang
plugins/InsaneAnnouncer/Languages/Base_simplified-Chinese.lang
plugins/InsaneAnnouncer/Languages/Base_Slovak.lang
plugins/InsaneAnnouncer/Languages/Base_Spanish.lang
plugins/InsaneAnnouncer/Languages/Base_Taiwan.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Czech.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Danish.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Dutch.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_French.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_German.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Hungarian.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Korean.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Italian.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Polish.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Portuguese.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Romanian.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Russian.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_simplified-Chinese.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Slovak.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Spanish.lang
plugins/InsaneAnnouncer/Languages/InsaneAnnouncer_Taiwan.lang
plugins/Plan/unsaved-sessions.csv
plugins/ProtocolLib/lastupdate
